$textColor: #161e26;
$linkHover: #155596;
$purple: #7510ac;
$active: #59c7ae;
$red: #c63d43;

/* Font families */

$Barlow: 'Barlow',
'Open Sans',
Arial,
Helvetica,
sans-serif;
$Martel: 'Martel',
'Barlow',
'Open Sans',
Arial,
Helvetica,
sans-serif;