<footer>
  <div class="flex row footer-main">
    <div class="container flex row">
      <div class="flex1 flex col">
        <h4 class="footer-title">Produits</h4>
        <ul class="footer-list">
          <li><a href="/produits/cognitive-apis">Cognitive APIs</a></li>
          <li><a href="/produits/linto-agent">LinTO agent</a></li>
          <li><a href="/produits/linto-for-meeting">LinTO agent for meeting</a></li>
        </ul>
      </div>
      <div class="flex1 flex col">
        <h4 class="footer-title">Playground</h4>
        <ul class="footer-list">
          <li><a href="/demo/cognitive-apis">APIs de transcription</a></li>
          <li><a href="/demo/linto-agent">LinTO agent dans votre navigateur</a></li>
          <li><a href="https://convos.linto.ai">Se connecter au Conversation Manager</a></li>
        </ul>
      </div>
      <div class="flex1 flex col">
        <h4 class="footer-title">Ressources</h4>
        <ul class="footer-list">
          <li><a href="/demo/cognitive-apis">Documentation développeurs</a></li>
          <li><a href="/demo/linto-agent">Documentation entreprise</a></li>
        </ul>
      </div>
    </div>  
  </div>
  <div class="footer-secondary flex row align-center justify-center">
    <span class="footer-content">Copyright Linagora 2022 - <a href="/contact">Nous contacter</a></span>
  </div> 
</footer>