<footer>
  <div class="flex row footer-main">
    <div class="container flex row">
      <div class="flex1 flex col">
        <h4 class="footer-title">Produits</h4>
        <ul class="footer-list">
          <li><a href="/produits/cognitive-apis">Cognitive APIs</a></li>
          <li><a href="/produits/linto-agent">LinTO agent</a></li>
          <li><a href="/produits/linto-for-meeting">LinTO agent for meeting</a></li>
        </ul>
        <h4 class="footer-title">Essayer LinTO</h4>
        <ul class="footer-list">
          <li><a href="/demo/cognitive-apis">Essayer les APIs de transcription</a></li>
          <li><a href="/demo/linto-agent">Essayer LinTO agent dans votre navigateur</a></li>
        </ul>
      </div>
      <div class="flex1 flex col">
        <h4 class="footer-title">Ressources</h4>
        <ul class="footer-list">
          <li><a href="https://doc.linto.ai">Portail de documentation</a></li>
          <li><a href="/pricing">Pricing</a></li>
        </ul>
        <h4 class="footer-title">Conversation Manager</h4>
        <ul class="footer-list">
          <li><a href="https://convos.linto.ai">Se connecter au Conversation Manager</a></li>
        </ul>
      </div>
      <div class="flex1 flex col">
        <h4 class="footer-title">Linagora</h4>
        <a href="https://linagora.com" target="_blank">
        <img class="footer-img-link" alt="Linagora" src="/assets/img/linagora.png"></a>
        <a href="https://labs.linagora.com" target="_blank">
        <img class="footer-img-link" alt="Linagora Labs" src="/assets/img/linagora-labs.png"></a>
      </div>

    </div>  
  </div>
  <div class="footer-secondary flex row align-center justify-center">
    <span class="footer-content">Copyright Linagora 2022 - <a href="/contact">Nous contacter</a></span>
  </div> 
</footer>