<!-- HEADER -->
<header id="header" class="flex row align-center">
  <a href="/" class="logo">
    <img src="/assets/img/linto-ai.svg" alt="LinTO.ai" />
  </a>
  <nav class="flex row flex1">
    <div class="flex row flex1">
      <div class="nav-item-container">
        <a href="javascript:;" class="nav-item-parent" data-target="header-nav-products">Produits</a>
        <div class="nav-item-dropdown hidden flex row" id="header-nav-products">
          <div class="nav-card flex col apis">
            <a href="/produits/cognitive-apis" class="nav-card-link flex col align-center apis">
              <div class="title flex row">
                <span class="icon apis"></span>
                <span class="label apis">Cognitive APIs</h3>
              </div>
              <div class="description">
                <p>Intégrez des fonctions de reconnaissance vocale et de compréhension de la parole dans vos applications.</p>
              </div>
            </a>
          </div>
          <div class="nav-card flex col linto">
            <a href="/produits/linto-agent" class="nav-card-link flex col align-center linto">
              <div class="title flex row">
                <span class="icon linto"></span>
                <span class="label linto">LinTO agent</h3>
              </div>
              <div class="description">
                <p>Créez des assistants vocaux personnalisés pour vos clients et vos collaborateurs.</p>
              </div>
            </a>
          </div>
          <div class="nav-card flex col meeting">
            <a href="/produits/linto-for-meeting" class="nav-card-link flex col align-center meeting">
              <div class="title flex row">
                <span class="icon meeting"></span>
                <span class="label meeting">LinTO agent for meeting</h3>
              </div>
              <div class="description">
                <p>Créez des assistants vocaux pour vos réunions et vos conférences.</p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="nav-item-container">
        <a href="https://doc.linto.ai" class="nav-item" target="_blank">Portail de documentation</a>
      </div>
      <div class="nav-item-container">
        <a href="/pricing" class="nav-item">Pricing</a>
      </div>
    </div>
    <div class="flex row flex1 justify-end">
      <div class="nav-item-container flex col justify-center">
        <a href="https://github.com/linto-ai" target="_blank" >
          <img src="/assets/img/github-logo.svg" alt="github" class="nav-img">
        </a>
      </div>
      <div class="nav-item-container">
        <a href="#" class="nav-item">Roadmap</a>
      </div>
      <div class="nav-item-container">
        <a href="/contact" class="nav-item">Contact</a>
      </div>
    </div>
  </nav>
</header>
<!-- END HEADER -->