<!-- HEADER -->
<header id="header" class="flex row align-center">
  <a href="/" class="logo">
    <img src="/assets/img/linto-ai.svg" alt="LinTO.ai" />
  </a>
  <nav class="flex row">
    <!-- Products -->
    <div class="nav-item-container">
      <a href="javascript:;" class="nav-item-parent" data-target="header-nav-products">Produits</a>
      <div class="nav-item-dropdown hidden flex row" id="header-nav-products">
        <div class="nav-card flex col apis">
          <a href="/produits/cognitive-apis" class="nav-card-link flex col align-center apis">
            <div class="title flex row">
              <span class="icon apis"></span>
              <span class="label apis">Cognitive APIs</h3>
            </div>
            <div class="description">
              <p>Intégrez des fonctions de reconnaissance vocale et de compréhension de la parole dans vos applications.</p>
            </div>
          </a>
        </div>
        <div class="nav-card flex col linto">
          <a href="/produits/linto-agent" class="nav-card-link flex col align-center linto">
            <div class="title flex row">
              <span class="icon linto"></span>
              <span class="label linto">LinTO agent</h3>
            </div>
            <div class="description">
              <p>Créez des assistants vocaux personnalisés pour vos clients et vos collaborateurs.</p>
            </div>
          </a>
        </div>
        <div class="nav-card flex col meeting">
          <a href="/produits/linto-for-meeting" class="nav-card-link flex col align-center meeting">
            <div class="title flex row">
              <span class="icon meeting"></span>
              <span class="label meeting">LinTO agent for meeting</h3>
            </div>
            <div class="description">
              <p>Créez des assistants vocaux pour vos réunions et vos conférences.</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <!-- Playground -->
    <div class="nav-item-container">
      <a href="javascript:;" class="nav-item-parent" data-target="header-nav-tryit">Playground</a>
      <div class="nav-item-dropdown hidden flex col" id="header-nav-tryit">
        <a href="/demo/cognitive-apis" class="nav-icon-link flex row apis">
          <span class="icon apis"></span>
          <span class="label">Tester les <strong>APIs de transcription</strong></span>
        </a>
        <a href="/demo/linto-agent" class="nav-icon-link flex row linto">
          <span class="icon linto"></span>
          <span class="label">Tester <strong>LinTO agent</strong></span>
        </a>
        <a href="https://convos.linto.ai/" class="nav-icon-link flex row meeting" target="_blank">
          <span class="icon meeting"></span>
          <span class="label">Connectez-vous au <strong>Conversation Manager</strong></span>
        </a>
    </div>
    </div>
    <div class="nav-item-container">
      <a href="javascript:;" class="nav-item-parent" data-target="header-nav-ressources">Ressources</a>
      <div class="nav-item-dropdown hidden" id="header-nav-ressources">
        ITEM
      </div>
    </div>
    <div class="nav-item-container">
      <a href="/contact" class="nav-item" data-target="">Contact</a>
    </div>
  </nav>
</header>
<!-- END HEADER -->