#header {
    padding: 10px 0;
    height: 40px;
    background-color: #fff;
}

.header--logo {
    display: inline-block;
    height: 40px;
    width: 175px;
    @include maskImage('../img/svg/linto-ai.svg');
    background-color: $blue;
}

.header--nav {
    justify-content: space-evenly;
    a.header--nav-link {
        display: inline-block;
        position: relative;
        height: 40px;
        line-height: 40px;
        padding: 0 10px;
        font-family: $Barlow;
        font-size: 16px;
        font-weight: 600;
        text-decoration: none;
        color: $textColor;
        text-transform: uppercase;
        &:hover {
            color: $blueDark;
        }
        &.active {
            color: $blueDark;
        }
    }
    .header--nav-children {
        position: absolute;
        top: 60px;
        background: #fff;
        padding: 20px;
        @include borderRadius(3px);
        @include blockShadowStrong();
        z-index: 10;
        a.header--nav-link__child {
            flex: 1;
            display: inline-block;
            height: 20px;
            line-height: 20px;
            padding: 15px 10px;
            position: relative;
            font-family: $Barlow;
            font-size: 16px;
            font-weight: 400;
            text-decoration: none;
            color: $textColor;
            border-bottom: 1px solid #ececec;
            &:hover {
                background-color: $blueDark;
            }
        }
    }
}