/*** HOME TOP ***/

#home-top {
    padding: 200px 0;
    @include blueGradient();
}

h1 {
    @include fluid-font(3.5vw, 24px, 36px, 28px);
    font-weight: 700;
    font-family: $Martel;
    line-height: 50px;
    color: #fff;
}

.homepage__top-btn {
    margin-top: 40px;
}


/* Privacy matter */

.markets-items {
    margin: 40px 0;
    justify-content: center;
    flex-wrap: wrap;
    .market-item {
        padding: 20px;
        margin: 10px 20px;
        width: 140px;
        min-width: 140px;
        max-width: 140px;
        height: 180px;
        @include borderRadius(3px);
        @include blockShadow();
        @include transition(all 0.3s ease);
        flex: 1;
        .market-item__img {
            display: inline-block;
            height: 120px;
        }
        .market-item__label {
            padding-top: 10px;
            display: inline-block;
            @include fluid-font(1.4vw, 16px, 18px, 16px);
            width: 100%;
            text-align: center;
            line-height: 24px;
            font-family: $Barlow;
            font-weight: 600;
        }
        &:hover {
            background-color: $blueDark;
            @include blockShadowHover();
            .market-item__label {
                color: #fff;
            }
        }
    }
}


/* LinTO products */

#linto-products {
    background-image: linear-gradient(160deg, #091A90 0%, #7510ac 100%);
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
    color: #fff;
    h2 {
        color: #fff;
    }
    padding-top: 80px;
    position: relative;
}

.products-items {
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 40px 0;
    .product-item {
        border: none;
        display: inline-block;
        flex: 1 1 40%;
        max-width: 45%;
        padding: 40px 20px;
        margin: 10px;
        @include borderRadius(5px);
        @include blockShadow();
        color: #fff;
        @include transition(all 0.3s ease);
        background-color: #fff;
        position: relative;
        &:before {
            content: '';
            display: inline-block;
            width: 30px;
            height: 30px;
            background-color: $blueDark;
            position: absolute;
            @include maskImage('../img/svg/app.svg');
            @include transition(all 0.3s ease);
            top: 20px;
            left: 100%;
            margin-left: -40px;
        }
        h3 {
            @include fluid-font(2vh, 18px, 24px, 20px);
            padding: 20px 0 10px 0;
            font-weight: 700;
            font-family: $Martel;
            color: $blueDark;
        }
        .product-item__desc {
            font-size: 16px;
            line-height: 20px;
            color: $textColor;
        }
        &:hover {
            @include blockShadowHover();
            background: $purple;
            h3,
            .product-item__desc {
                color: #fff;
            }
            &:before {
                background-color: #fff;
            }
            &:after {
                content: "Read more...";
                display: inline-block;
                width: 120px;
                font-size: 18px;
                font-weight: 600;
                color: #fff;
                position: absolute;
                font-style: italic;
                top: 100%;
                left: 100%;
                margin-top: -40px;
                margin-left: -140px;
                @include textAppear();
            }
        }
    }
}


/* Partners */

.partners-items {
    justify-content: space-evenly;
    flex-wrap: wrap;
    .partner-item__logo {
        display: inline-block;
        height: 100px;
        width: auto;
    }
}

.wakemeup-item {
    justify-content: space-evenly;
    margin: 20px 0;
    .wakemeup-logo {
        display: inline-block;
        height: 180px;
        width: auto;
    }
}