#playground-title {
    padding: 60px 0;
    @include blueToPurpleGradient();
    .playground__title {
        display: inline-block;
        width: 100%;
        text-align: center;
    }
    .playground__desc {
        display: inline-block;
        width: 100%;
        color: #fff;
        padding-top: 20px;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
    }
}

#lintoweb-area {
    width: 300px;
}

#lintoweb {
    position: fixed;
    top: 200px;
    left: 25px;
    width: 250px;
    height: 250px;
    background: #fff;
    z-index: 20;
    @include borderRadius(200px);
    @include boxShadow(0, 0, 20px, 5px, rgba(0, 0, 0, 0.3));
}

#linto-animated {
    width: 120px;
    height: 120px;
    padding: 10px;
    @include borderRadius(70px);
    margin: 30px auto;
    position: relative;
    &:after {
        display: inline-block;
        width: 100%;
        height: 20px;
        position: absolute;
        top: 120px;
        left: 0;
        text-align: center;
        color: $blue;
    }
    &.sleeping {
        &:after {
            content: "sleeping";
        }
    }
    &.wakeup {
        &:after {
            content: "waking up";
        }
    }
    &.listening {
        &:after {
            content: "listening";
        }
    }
    &.thinking {
        &:after {
            content: "thinking";
        }
    }
    &.action {
        &:after {
            content: "action";
        }
    }
    &.error {
        &:after {
            content: "error";
        }
    }
}

#linto-btn {
    position: fixed;
    top: 200px;
    left: 250px;
    background: #fff;
    width: 100px;
    padding: 10px;
    z-index: 20;
    @include boxShadow(0, 0, 20px, 5px, rgba(0, 0, 0, 0.3));
    button {
        display: inline-block;
        width: 100%;
        margin-bottom: 10px;
    }
}

#playground {
    .playground__wrapper {
        padding: 40px;
    }
    .playground__block {
        max-width: 1200px;
        margin: 0 auto;
        border: 1px solid #ccc;
        margin-bottom: 40px;
        .wrapper {
            width: 980px;
            margin: 0;
        }
        .page-content {
            font-size: 18px;
        }
        &.playground__block--selected {
            @include boxShadow(0, 0, 10px, 0, rgba(0, 50, 120, 0.5));
            border-color: $blue;
            background-color: #f7fcff;
            .page-content {
                strong {
                    font-weight: 600;
                    color: $red;
                }
            }
        }
        h3.tosay__title {
            padding: 20px 0;
            font-family: $Martel;
            font-size: 24px;
            font-weight: 700;
        }
        .tosay {
            display: inline-block;
            font-family: $Martel;
            font-size: 20px;
            margin-bottom: 20px;
            background-color: $blueDark;
            color: #fff;
            padding: 20px;
            font-weight: 700;
        }
    }
}