@font-face {
    font-family: 'Open-Dyslexic Roman';
    font-style: normal;
    font-weight: normal;
    src: local('Open-Dyslexic Roman'), url('../fonts/open-dyslexic/open-dyslexic.woff') format('woff');
}

#playground-title {
    padding: 60px 0;
    @include blueToPurpleGradient();
    @include transition(all 0.3s ease);
    .playground__title {
        display: inline-block;
        width: 100%;
        text-align: center;
    }
    .playground__desc {
        display: inline-block;
        width: 100%;
        color: #fff;
        padding-top: 20px;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
    }
    &.accessibility {
        background: $blueDark;
        .playground__title,
        .playground__desc {
            font-family: $accessibilityFont;
        }
    }
}

#lintoweb-area {
    width: 300px;
}

#lintoweb {
    position: fixed;
    top: 200px;
    left: 25px;
    width: 250px;
    height: 250px;
    background: #fff;
    z-index: 20;
    @include borderRadius(200px);
    @include boxShadow(0,
    0,
    20px,
    5px,
    rgba(0, 0, 0, 0.3));
}

#linto-animated {
    width: 120px;
    height: 120px;
    padding: 10px;
    @include borderRadius(70px);
    margin: 30px auto;
    position: relative;
    &:after {
        display: inline-block;
        width: 100%;
        height: 20px;
        position: absolute;
        top: 120px;
        left: 0;
        text-align: center;
        color: $blue;
    }
    &.sleeping {
        &:after {
            content: "sleeping";
        }
    }
    &.wakeup {
        &:after {
            content: "waking up";
        }
    }
    &.listening {
        &:after {
            content: "listening";
        }
    }
    &.thinking {
        &:after {
            content: "thinking";
        }
    }
    &.action {
        &:after {
            content: "action";
        }
    }
    &.error {
        &:after {
            content: "error";
        }
    }
}

#linto-btn {
    position: fixed;
    top: 200px;
    left: 250px;
    background: #fff;
    width: 100px;
    padding: 10px;
    z-index: 20;
    @include boxShadow(0,
    0,
    20px,
    5px,
    rgba(0, 0, 0, 0.3));
    button {
        display: inline-block;
        width: 100%;
        margin-bottom: 10px;
    }
}

#playground {
    @include transition(all 0.3s ease);
    .playground__wrapper {
        padding: 40px;
    }
    .playground__block {
        h2,
        h3 {
            @include transition(all 0.3s ease);
        }
        @include transition(all 0.3s ease);
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        border: 1px solid #ccc;
        margin-bottom: 40px;
        .wrapper {
            margin: 0;
        }
        .page-content {
            @include transition(all 0.3s ease);
            font-size: 18px;
            strong {
                font-weight: 600;
                color: $red;
            }
        }
        &.playground__block--selected {
            @include boxShadow(0,
            0,
            10px,
            0,
            rgba(0, 50, 120, 0.5));
            border-color: $blue;
            background-color: #f7fcff;
        }
        h3.tosay__title {
            padding: 20px 0;
            font-family: $Martel;
            font-size: 24px;
            font-weight: 700;
            color: $blue;
        }
        .tosay {
            @include transition(all 0.3s ease);
            display: inline-block;
            font-family: $Martel;
            font-size: 20px;
            margin-bottom: 20px;
            background-color: $blue;
            color: #fff;
            padding: 20px;
            font-weight: 700;
            line-height: 30px;
        }
    }
    .readable-content {
        display: inline-block;
        padding: 20px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        background-color: #ececec;
        font-size: 18px;
        line-height: 24px;
        font-style: italic;
    }
    #dictation {
        display: inline-block;
        width: 100%;
        min-height: 80px;
        border-color: #454545;
        padding: 5px;
        background-color: #f7fcff;
    }
    &.accessibility {
        background: #111;
        font-family: $accessibilityFont;
        .playground__block {
            border: 1px solid #666;
            background-color: #111;
            font-family: $accessibilityFont;
            .page-content {
                font-family: $accessibilityFont;
                font-size: 18px;
                color: #fff;
                strong {
                    color: #ffa242;
                }
            }
            h2,
            h3 {
                color: #fff;
                font-family: $accessibilityFont;
            }
            .tosay {
                font-family: $accessibilityFont;
                background-color: #fff;
                color: $blueDark;
            }
            &.playground__block--selected {
                @include cancelBoxShadow();
                border-color: #fff;
                background-color: #fcfcfc;
                .page-content {
                    color: $textColor;
                    strong {
                        color: $red;
                    }
                }
                h2,
                h3 {
                    color: $blueDark;
                }
                .tosay {
                    background-color: $blueDark;
                    color: #fff;
                }
            }
        }
    }
}


/* SLIDER */

#playground-slider {
    width: 300px;
    height: 200px;
    margin: 0 auto 20px auto;
}

.slick-prev,
.slick-next {
    &,
    &:focus {
        display: inline-block;
        width: 30px;
        height: 30px;
        position: absolute;
        z-index: 5;
        top: 50%;
        margin-top: -15px;
        background: $blue;
        background-image: none !important;
        &:before {
            display: none;
        }
        &:hover {
            background: $blueDark;
        }
    }
}

.slick-prev {
    @include maskImage('../img/svg/arrow-left.svg');
    left: -60px;
}

.slick-next {
    @include maskImage('../img/svg/arrow-right.svg');
    left: 100%;
    margin-left: 30px;
}


/* Meeting room */

#playground-meeting-room {
    padding: 0;
}

#svg-container {
    height: auto;
    position: relative;
    svg {
        max-width: 1000px;
    }
}

#LUMIERE-ON.off {
    opacity: 0;
}

#ETEIND {
    opacity: 0;
}

.proj {
    opacity: 0;
}

.proj.active {
    opacity: 1;
}

#VIDEOPROJ-ON {
    opacity: 0;
}

.pc-proj.active {
    opacity: 1;
}

.pc-proj {
    opacity: 0;
}

.pc-proj.active {
    opacity: 1;
}

.meeting-room-btn {
    display: inline-block;
    padding: 10px;
    font-size: 15px;
    margin: 10px 0;
}

.st0 {
    fill: #F9F9F9;
}

.st1 {
    fill: #EDEDED;
}

.st2 {
    fill: #E6E6E6;
}

.st3 {
    fill: url(#ciel-G_1_);
}

.st4 {
    fill: url(#ciel-D_1_);
}

.st5 {
    clip-path: url(#SVGID_2_);
}

.st6 {
    fill: #E0E3EB;
}

.st7 {
    fill: #EDF1F9;
}

.st8 {
    fill: #FAFDFF;
}

.st9 {
    fill: #C7C9D1;
}

.st10 {
    opacity: 0.1;
    enable-background: new;
}

.st11 {
    clip-path: url(#SVGID_4_);
}

.st12 {
    fill: #7C7C7C;
}

.st13 {
    fill: #6D6D6D;
}

.st14 {
    fill: #2B303F;
}

.st15 {
    fill: #522E02;
}

.st16 {
    fill: #FFCEA9;
}

.st17 {
    fill: #F4F4F4;
}

.st18 {
    opacity: 0.3;
    fill: url(#SVGID_5_);
    enable-background: new;
}

.st19 {
    opacity: 0.3;
    fill: url(#SVGID_6_);
    enable-background: new;
}

.st20 {
    fill: #150B33;
}

.st21 {
    fill: #250E70;
}

.st22 {
    fill: #E63225;
}

.st23 {
    fill: #D3C4A9;
}

.st24 {
    fill: #EFE3CA;
}

.st25 {
    fill: #D6D8E5;
}

.st26 {
    fill: #D6D6D6;
}

.st27 {
    fill: #303030;
}

.st28 {
    fill: #BFBFBF;
}

.st29 {
    fill: #E5E5E5;
}

.st30 {
    opacity: 0.4;
    fill: #D6D8E5;
    enable-background: new;
}

.st31 {
    fill: #E4E6EF;
}

.st32 {
    fill: #28221C;
}

.st33 {
    fill: #99B524;
}

.st34 {
    fill: #A6CE28;
}

.st35 {
    fill: #B0B4C1;
}

.st36 {
    fill: #BFC2D1;
}

.st37 {
    fill: #B1B6C4;
}

.st38 {
    fill: #C4C7D6;
}

.st39 {
    fill: #0E061B;
}

.st40 {
    fill: #150D33;
}

.st41 {
    clip-path: url(#SVGID_8_);
}

.st42 {
    fill: #3D3D3D;
}

.st43 {
    fill: #DCEEFF;
}

.st44 {
    fill: #DBDBDB;
}

.st45 {
    fill: #FFFFFF;
}

.st46 {
    fill: #9ACC12;
}

.st47 {
    fill: #E8BC05;
}

.st48 {
    fill: #EF6848;
}

.st49 {
    fill: #BE4AED;
}

.st50 {
    fill: #543526;
}

.st51 {
    fill: #1B96EA;
}

.st52 {
    fill: #FF5050;
}

.st53 {
    fill: #32CEC3;
}

.st54 {
    fill: none;
    stroke: #D6D8E5;
    stroke-width: 0.3231;
    stroke-miterlimit: 10;
}

.st55 {
    fill: #FFCEA9;
}

.st56 {
    fill: #291300;
}

.st57 {
    fill: #9FA0A2;
}

.st58 {
    fill: #A1A2A4;
}

.st59 {
    fill: #F4F6F9;
}

.st60 {
    fill: #595D69;
}

.st61 {
    fill: #616774;
}

.st62 {
    fill: #D5D7E2;
}

.st63 {
    fill: none;
    stroke: #D6D8E5;
    stroke-width: 1.8345;
    stroke-miterlimit: 10;
}

.st64 {
    opacity: 0.43;
    fill: #FFFFFF;
    enable-background: new;
}

.st65 {
    fill: #323846;
}

.st66 {
    fill: #252935;
}

.st67 {
    fill: #BDBEC1;
}

.st68 {
    fill: #D2D4D7;
}

.st69 {
    fill: #1C0513;
}

.st70 {
    fill: #070000;
}

.st71 {
    fill: #3A0B26;
}

.st72 {
    display: none;
    fill: #8D4F14;
}

.st73 {
    fill: #8D4F14;
}

.st74 {
    fill: #2786A8;
}

.st75 {
    fill: #3EB7EA;
}

.st76 {
    fill: #0D0C23;
}

.st77 {
    fill: #AAADBC;
}

.st78 {
    fill: #F9EFC5;
}

.st79 {
    fill: #D8AA44;
}

.st80 {
    opacity: 0.69;
    fill: #F9EFC5;
    enable-background: new;
}

.st81 {
    opacity: 0.2;
    fill: #0D0C23;
    enable-background: new;
}

.st82 {
    fill: #FFDF57;
}

.st83 {
    opacity: 0.69;
    fill: #FFDF57;
    enable-background: new;
}

.st84 {
    opacity: 0.6;
    fill: url(#SVGID_9_);
    enable-background: new;
}

.st85 {
    opacity: 0.4;
    fill: url(#VIDEOPROJ-ON_3_);
    enable-background: new;
}

.st86 {
    opacity: 0.4;
    fill: #FFFFFF;
    enable-background: new;
}

.st87 {
    fill: #1E67F7;
}

.st88 {
    fill: #F99F00;
}

.st89 {
    fill: #00AD0C;
}