#playground-view {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#playground__header {
    height: 40px;
    padding: 10px 40px;
    background-color: $blue;
    .header--logo {
        background-color: #fff;
    }
    h1 {
        font-family: $Barlow;
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        text-align: center;
        display: inline-block;
        width: 100%;
    }
}

#playground-wrapper {
    overflow: auto;
}

#playground-side {
    width: 220px;
    padding: 20px;
    background: #ccc;
}

#playground-app {
    padding: 40px;
    overflow: auto;
}

.playground__block {
    padding: 40px;
    border: 1px solid #ccc;
    margin-bottom: 60px;
    &.playground__block--selected {
        background-color: #e3f3ff;
        @include blockShadowSelected();
        border-color: $blue;
    }
    .playground__paragraph {
        @include fluid-font(1.3vw, 16px, 22px, 18px);
        line-height: 26px;
    }
}

#playground__slider {
    .playground__slider-item {
        width: 100%;
        height: auto;
        padding: 20px;
        text-align: center;
        color: #fff;
        background-color: $blue;
    }
}

#playground-footer {
    background-color: $blueDark;
    .playground-footer--item {
        text-align: center;
        .playground-footer__link {
            display: inline-block;
            font-size: 28px;
            font-weight: 600;
            color: #fff;
            width: 100%;
            line-height: 40px;
            text-align: center;
            padding: 10px 0;
            @include transition(all 0.3s ease);
            &.active {
                background-color: $blue;
            }
            &:hover {
                background-color: $purple;
                &.active {
                    background-color: $blue;
                }
            }
        }
    }
}