.apis-schema-item{
  padding: 20px;
  border: 1px solid var(--blueChart);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  
}
.apis-schema-img{
  display: inline-block;
  width: 80%;
  height: auto;
}