/*===== CSS VARIABLES =====*/
:root {
  --blueChart: #45baeb;
  --blueDark : #364954;
  --greenChart: #65eeb1;
  --error: #ffb13b;
}

@media screen and (max-width: 1440px){
  .wrapper {
    max-width: 1200px;
  }
}
@media screen and (max-width: 1280px){
  .wrapper,
  .content-section .wrapper {
    max-width: 980px;
  }
  .content-wrapper {
    max-width: 980px;
  }
}
@media screen and (max-width: 1024px){
  section {
    padding: 20px 0;
  }
  #enterprises-solutions-top {
    padding: 20px 0;
  }

  .wrapper,
  .content-section .wrapper {
    max-width: 90%;
  }
  
  .content-wrapper {
    max-width: 920px;
  } 
  #home {
    padding-top: 0;
  }
  #home .wrapper {
    flex-direction: column-reverse;
  }
  #linto-animated {
    max-height: 450px;
  }
  .home-title-container{
    align-items: center;
  }
  h1.home-title{
    text-align: center;
  }
  .hdiw-wrapper {
    flex-direction: column !important;
  }
  .hdiw-animation {
    text-align: center;
  }
  .solution-content-container{
    flex-direction: column !important;
  }
  .solution-content:first-child{
    border: none;
    margin-bottom: 40px;
  }

}
@media screen and (max-width: 960px){
  h1 {
    font-size: 32px;
  }
  h2,
  h2.section-title {
    font-size: 26px;
  }
  h3 {
    font-size: 20px;
  }
  .cta-link {
    font-size: 16px;
  }
  
  /* HEADER */
  .linto-ai-logo {
    height: 30px;
    margin: 5px;
  }
  #burger-nav{
    display: flex;
  }
  #desktop-nav{
    display: none;
  }
  #burger-menu-nav.hidden{
    display: none;
  }
  .burger-menu-container{
    justify-content: flex-end;
  }
  button#burger-menu{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url('../img/burger-menu@2x.png');
    background-size: 80px 80px;
    background-repeat: no-repeat;
    border: none;
    box-shadow: none;
    background-color: transparent;
    cursor: pointer;
  }
  button#burger-menu.closed {
    background-position: 0 0;
  }
  button#burger-menu.closed:hover {
    background-position: -40px 0;
  }
  button#burger-menu.opened {
    background-position: 0 -40px;
  }
  button#burger-menu.opened:hover {
    background-position: -40px -40px;
  }
  #burger-menu-nav{
    position: absolute;
    top: 100px;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #burger-menu-nav nav{
    align-items: center;
  }
  #burger-menu-nav nav a {
    font-size: 30px;
    padding: 20px 0;
    line-height: 30px;
    flex:1;
  }
  .nav-link.active::after, .nav-link.active:hover::after {
    top: 60px;
  }
  /* END HEADER */
  
  /* HOME */
  #linto-animated svg.linto-animation-home{
    max-width: 350px !important;
    max-height: 350px !important;
  }
  .charactertics-wrapper{
    flex-direction: column !important;
  }
  .hdiw-controls .controls{
    margin-top: 0;
  }
  .solution-content h3{
    padding-bottom: 20px;
  }
  img.raspberry-schema{
    width: 80%;
    height: auto;
  }
  .partners-container{
    flex-direction: column !important;
    align-items: center;
  }
  .partner-logo{
    height: 60px; 
    width: auto;
    margin: 10px auto;
  }
  /* END HOME */

  /* ENTERPRISES SOLUTIONS */
  .enterprise-top-container {
    flex-direction: column-reverse !important;
  }
  .enterpise-top-img img.linto-ent{
    width: 240px;
  }
  .flex-content.row {
    flex-direction: column !important;
  }
  img.gafam-free{
    height: 120px;
    width: auto;
  }
  img.schema-deploy-linto, 
  img.schema-server{
    width: 90%; 
    height: auto;
  }
  img.schema-services{
    width: 200px;
    height: auto;
  }
  .content-section.enterprise h2.section-title{
    padding: 0;
  }
  #compare-table{
    border-collapse: collapse;
    border-spacing: 0;
    margin: 20px 0 10px 0;
  }
  #compare-table thead tr th {
    font-size: 14px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: 1px solid #ccc;
  }
  #compare-table tbody tr td{
    padding: 5px;
  }

  #compare-table tbody tr td.option {
    font-size: 12px;
  }
  #compare-table tbody tr td .label{
    font-size: 12px;
  }

  table.content-table thead tr th.title.parole-lue,
  table.content-table thead tr th.title.parole-spontanee,
  table.content-table tbody tr td {
    font-size: 14px;
  }
  .sub-part h4.content-sub-title,
  .table-label{
    font-size: 16px;
  }
}
@media screen and (max-width: 840px){
  .contact-wrapper{
    flex-direction: column !important;
    max-width: 300px;
  }
  .field-container .contact-input{
    max-width: 100%;
  }
  table.content-table tbody tr td {
    padding: 5px;
  }
  #compare-table tbody tr td .label {
    display: none;
  }

}
@media screen and (max-width: 720px){}
@media screen and (max-width: 600px){}
@media screen and (max-width: 480px){}
@media screen and (max-width: 400px){}
@media screen and (max-width: 360px){}