/*===== FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap%27');

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block;
}
body {
  line-height: 1;
}
ol,ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*===== END RESET CSS =====*/


/*===== CSS VARIABLES =====*/
:root {
  --textDefault: #1b1b1b;
  --greyChart: #545454;
  --greenChart: #5FBF9D;
  --greenLight: #5fbf9d36;
  --blueChart: #349EDA;
  --blueLight: #349dda2f;
  --purpleChart: #907DFF;
  --purpleLight: #907dff33;

}

/*===== END CSS VARIABLES =====*/
/*===== GLOBAL =====*/
html {
  min-height: 100%;
  height: auto;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  min-height: 100%;
  height: auto;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.3em;
  color: var(--textDefault);
  background-color: #fff;
}
.flex {
  display: flex;
}
.flex.row {
  flex-direction: row;
}
.flex.col{
  flex-direction: column;
}
.flex.wrap{
  flex-wrap: wrap;
}
.flex.align-center {
  align-items: center;
}
.flex.justify-center {
  justify-content: center;
}

.flex1 {
  flex: 1;
  max-width: 100%;
}
.flex2 {
  flex: 2;
  max-width: 100%;
}
.flex3 {
  flex: 3;
  max-width: 100%;
}
.flex4 {
  flex: 4;
  max-width: 100%;
}
.container{
  max-width: 980px;
  margin: 0 auto;
  padding: 0 15px;
}
.hidden{
  display: none;
}
/*
.field-container.submit .submit-btn{
  display: inline-block;
  padding: 5px 15px;
  border: 1px solid var(--blueChart);
  color: var(--blueChart);
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 2px 2px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 2px 2px 0px rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0px rgba(0,0,0,0.2);
  background-color: #fff;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;

    mask-image: url($path);
  -webkit-mask-image: url($path);
  mask-size: cover;
  -webkit-mask-size: cover;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}
}*/
/* END GLOBAL */
/* HEADER */
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: var(--greyChart);
  
  padding: 0 20px;
}
.logo{
  display: inline-block;
  height: 30px;
  margin-right: 20px;
  
}
.logo img{
  display: inline-block;
  height: 100%;
  width: auto;
}
.nav-item-container{
  position: relative;
  padding: 0 5px;
  height: 50px;

  margin: 0 5px;
}
.nav-item-parent{
  display: inline-block;
  color: #fff;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  font-weight:500;
  text-decoration: none;
  position: relative;
  padding-right: 15px;
  
}
.nav-item-parent:after{
  content: "";
  display: inline-block;
  width: 12px;
  height: 10px;
  background: #fff;
  position: absolute;
  top: 20px;
  right: 0;
  mask-image: url('../img/arrow-menu.svg');
  -webkit-mask-image: url('../img/arrow-menu.svg');
  mask-size: cover;
  -webkit-mask-size: cover;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}

.nav-item-dropdown.visible{
  position: absolute;
  top: 45px;
  left: 0;
  padding: 10px;
  box-sizing: border-box;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 2px 4px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 2px 4px 0px rgba(0,0,0,0.2);
  box-shadow: 0 2px 4px 0px rgba(0,0,0,0.2);
  background-color: #fff;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  box-sizing: border-box;

}

#header-nav-products{
  width: 600px;
  flex-wrap: wrap;
}

.nav-card{
  width: 260px;
  height: 80px;
  margin: 10px;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.nav-card.apis:hover{
  background-color: var(--blueLight);
}
.nav-card.linto:hover{
  background-color: var(--purpleLight);
}
.nav-card.meeting:hover{
  background-color: var(--greenLight);
}
.nav-card-link{
  display: inline-block;
  text-decoration: none;
}
.nav-card-link .title{
  height: 25px;
  align-items: center;
  padding-bottom: 5px;
}
.nav-card-link .title .icon{
  display :inline-block;
  width: 25px;
  height: 25px;
  margin: 0 5px;
  background: yellow;
}
.nav-card-link .title .icon.apis{
  background: url('../img/apis-icon.svg') no-repeat;
  background-size: cover;
}
.nav-card-link .title .icon.linto{
  background: url('../img/linto-agent-icon.svg') no-repeat;
  background-size: cover;
}
.nav-card-link .title .icon.meeting{
  background: url('../img/linto-meeting-icon.svg') no-repeat;
  background-size: cover;
}
.nav-card-link .title .label{
  display :inline-block;
  font-size: 16px;
  font-weight: 500;
}
.nav-card-link .title .label.apis{
  color: var(--blueChart);
}
.nav-card-link .title .label.linto{
  color: var(--purpleChart);
}
.nav-card-link .title .label.meeting{
  color: var(--greenChart);
}
.nav-card-link .description{
  font-size: 12px;
  color: #777;
  line-height: 16px;
}
