/*===== FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap%27');

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block;
}
body {
  line-height: 1;
}
ol,ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*===== END RESET CSS =====*/


/*===== CSS VARIABLES =====*/
:root {
  --textDefault: #1b1b1b;
  --greyChart: #545454;
  --greenChart: #5FBF9D;
  --greenLight: #5fbf9d36;
  --blueChart: #349EDA;
  --blueBtn: #0081C9;
  --blueLight: #349dda2f;
  --purpleChart: #907DFF;
  --purpleLight: #907dff33;
  --redChart: #e94c47;


}

/*===== END CSS VARIABLES =====*/
/*===== GLOBAL =====*/
html {
  min-height: 100%;
  height: auto;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  min-height: 100%;
  height: auto;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.3em;
  color: var(--textDefault);
  background-color: #fff;
}
.flex {
  display: flex;
}
.flex.row {
  flex-direction: row;
}
.flex.col{
  flex-direction: column;
}
.flex.wrap{
  flex-wrap: wrap;
}
.flex.align-center {
  align-items: center;
}
.flex.justify-center {
  justify-content: center;
}

.flex1 {
  flex: 1;
  max-width: 100%;
}
.flex2 {
  flex: 2;
  max-width: 100%;
}
.flex3 {
  flex: 3;
  max-width: 100%;
}
.flex4 {
  flex: 4;
  max-width: 100%;
}
.padding20{
  padding: 20px;
}
.hidden{
  display: none;
}

/*
.field-container.submit .submit-btn{
  display: inline-block;
  padding: 5px 15px;
  border: 1px solid var(--blueChart);
  color: var(--blueChart);
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 2px 2px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 2px 2px 0px rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0px rgba(0,0,0,0.2);
  background-color: #fff;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;

    mask-image: url($path);
  -webkit-mask-image: url($path);
  mask-size: cover;
  -webkit-mask-size: cover;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;


  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
}
}*/
/* END GLOBAL */


/* HEADER */
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: var(--greyChart);
  
  padding: 0 20px;
}
.logo{
  display: inline-block;
  height: 30px;
  margin-right: 20px;
  
}
.logo img{
  display: inline-block;
  height: 100%;
  width: auto;
}
.nav-item-container{
  position: relative;
  padding: 0 5px;
  height: 50px;

  margin: 0 5px;
}
.nav-item-parent{
  display: inline-block;
  color: #fff;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  font-weight:500;
  text-decoration: none;
  position: relative;
  padding-right: 15px;
  
}
.nav-item-parent:after{
  content: "";
  display: inline-block;
  width: 12px;
  height: 10px;
  background: #fff;
  position: absolute;
  top: 20px;
  right: 0;
  mask-image: url('../img/arrow-menu.svg');
  -webkit-mask-image: url('../img/arrow-menu.svg');
  mask-size: cover;
  -webkit-mask-size: cover;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}

.nav-item-dropdown.visible{
  position: absolute;
  top: 45px;
  left: 0;
  padding: 10px 15px 10px 10px;
  box-sizing: border-box;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 2px 4px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 2px 4px 0px rgba(0,0,0,0.2);
  box-shadow: 0 2px 4px 0px rgba(0,0,0,0.2);
  background-color: #fff;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  box-sizing: border-box;

}

#header-nav-products{
  width: 610px;
  flex-wrap: wrap;
}

.nav-card{
  width: 260px;
  height: 80px;
  margin: 10px;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.nav-card.apis:hover{
  background-color: var(--blueLight);
}
.nav-card.linto:hover{
  background-color: var(--purpleLight);
}
.nav-card.meeting:hover{
  background-color: var(--greenLight);
}
.nav-card-link{
  display: inline-block;
  text-decoration: none;
}
.nav-card-link .title{
  height: 25px;
  align-items: center;
  padding-bottom: 5px;
}
.nav-card-link .title .icon{
  display :inline-block;
  width: 25px;
  height: 25px;
  margin: 0 5px;
}

.nav-card-link .title .label{
  display :inline-block;
  font-size: 16px;
  font-weight: 500;
}
.nav-card-link .title .label.apis{
  color: var(--blueChart);
}
.nav-card-link .title .label.linto{
  color: var(--purpleChart);
}
.nav-card-link .title .label.meeting{
  color: var(--greenChart);
}
.nav-card-link .description p{
  font-size: 12px;
  color: #777;
  line-height: 16px;
  margin: 0;
}


.nav-icon-link{
  text-decoration: none;
  flex-wrap: nowrap;
  white-space: nowrap;
  margin: 7px 0 ;
}

.nav-icon-link .icon{
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
}
.nav-icon-link .label{
  display: inline-block;
  height: 20px;
  line-height: 20px;
  font-size: 13px;
  color: var(--textDefault);
  font-weight: 400

}
.nav-icon-link .label strong{
  font-weight: 600;
}

.nav-icon-link.apis:hover .label{
  color: var(--blueChart)
}
.nav-icon-link.linto:hover .label{
  color: var(--purpleChart)
}
.nav-icon-link.meeting:hover .label{
  color: var(--greenChart)
}
.icon.apis{
  mask-image: url('../img/apis-icon.svg');
  -webkit-mask-image: url('../img/apis-icon.svg');
  mask-size: cover;
  -webkit-mask-size: cover;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  background-color: var(--blueChart);
}
.icon.linto{
  mask-image: url('../img/linto-agent-icon.svg');
  -webkit-mask-image: url('../img/linto-agent-icon.svg');
  mask-size: cover;
  -webkit-mask-size: cover;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  background-color: var(--purpleChart);
}
.icon.meeting{
  mask-image: url('../img/linto-meeting-icon.svg');
  -webkit-mask-image: url('../img/linto-meeting-icon.svg');
  mask-size: cover;
  -webkit-mask-size: cover;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  background-color: var(--greenChart);
}
/* END HEADER */


/* BODY */
#body{
  padding: 60px 0 40px 0;
}

section {
  padding: 60px 0;
}
.container{
  position: relative;
  max-width: 980px;
  margin: 0 auto;
  padding: 0 15px;
  z-index: 5;
}
h1.green,
h2.green,
h3.green,
h4.green{
  color: var(--greenChart);
}
h1.blue,
h2.blue,
h3.blue,
h4.blue{
  color: var(--blueChart);
}
h1.purple,
h2.purple,
h3.purple,
h4.purple{
  color: var(--purpleChart);

}
.big-title{
  display: inline-block;
  width: 100%;
  font-size: 36px;
  font-weight: 800;
  line-height: 1.2em;
  text-align: left;
  padding-bottom: 20px;
}

.big-title.centered{
  text-align: center;
}

.big-title strong.green{
  color: var(--greenChart);
}
.big-title strong.white{
  color: #fff;
}
.big-title strong.blue{
  color: var(--blueChart);
}
.big-title strong.purple{
  color: var(--purpleChart);
}

h3{
  display: inline-block;
  font-size: 22px;
  font-weight: 600;
}
.content-white-80{
  padding: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.8);
}

ul{
  margin: 0;
  padding: 0;
}

ul li{
  display: inline-block;
  padding: 7px 5px 7px 25px;
  position: relative;
  min-width: 60%;
  font-size: 15px;
  font-weight: 500;
}
ul li:before{
  content: "";
  display: inline-block;
  width: 15px;
  height: 10px;
  background: red;
  position: absolute;
  left: 0;
  top: 13px;
  mask-image: url('../img/check.svg');
  -webkit-mask-image: url('../img/check.svg');
  mask-size: cover;
  -webkit-mask-size: cover;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  background-color: var(--greenChart);
}


p{
  display: inline-block;
  margin: 20px 0;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
}
p.thin{
  font-weight: 400;
}

.btn-cta-container{
  margin: 10px 0;
}
.btn-cta{
  display: inline-block;
  padding: 10px 20px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  text-align: center;
  -moz-box-shadow: 0 2px 2px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 2px 2px 0px rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0px rgba(0,0,0,0.2);
  border: 1px solid;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.btn-cta .label{
  display: inline-block;
  font-size: 15px;
  color: #fff;
  max-width: 200px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.btn-cta.dark{
  background-color: var(--textDefault);
  border-color: var(--textDefault);
}

.btn-cta.blue{
  background-color: var(--blueBtn);
  border-color: var(--blueBtn);
}
.btn-cta:hover{
  -moz-box-shadow: 0 2px 2px 0px rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 2px 2px 0px rgba(0,0,0,0.4);
  box-shadow: 0 2px 2px 0px rgba(0,0,0,0.4);
  background-color: #fff;
}
.btn-cta.dark:hover .label{
  color: var(--textDefault);
}

.btn-cta.blue:hover .label{
  color: var(--blueBtn);
}

.disclaimer{
  padding: 20px;
  color: var(--redChart);
  border: 2px dashed var(--redChart);
  background-color: #efefef;
  font-size: 15px;
  font-weight: 600;
  margin: 20px 0;
}