---
---
<!DOCTYPE HTML5>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- css -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- scripts -->
    <script type="text/javascript" src="/assets/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/assets/js/main.js"></script>

    <title>{{ page.title }}</title>
    <!-- Matomo -->
    <script type="text/javascript">
      var _paq = window._paq || [];
    /* START expiration 13 mois */
    _paq.push([function() {
    var self = this;
    function getOriginalVisitorCookieTimeout() {
    var now = new Date(),
    nowTs = Math.round(now.getTime() / 1000),
    visitorInfo = self.getVisitorInfo();
    var createTs = parseInt(visitorInfo[2]);
    var cookieTimeout = 33696000; // 13 mois en secondes
    var originalTimeout = createTs + cookieTimeout - nowTs;
    return originalTimeout;
    }
    this.setVisitorCookieTimeout( getOriginalVisitorCookieTimeout() );
    }]);
    /* END expiration 13 mois */
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['HeatmapSessionRecording::disable']);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="https://piwik.linagora.com/piwik/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '22']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->
  </head>
  <body>
    <div id="app" class="flex col">
      {% include header.html %}
      {{ content }}
      {% include footer.html %}
    </div>
  </body>
</html> 